@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

.dark {
	--background: #0a0a0a;
	--foreground: #ededed;
}

html {
	height: 100%;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

body > div {
	height: 100%;
}

@media screen and (max-width: 24rem) {
	.title {
		display: none;
	}
}
